<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BioBits Toolkit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
</head>
<body>
    <header>
        <h1>🧬 BioBits Toolkit</h1>
        <nav>
            <a href="/">Codon Usage & Amino Acid Analyzer</a> |
            <a href="/reverse-complement">Reverse Complement</a> |
            <a href="/orf-finder">ORF Finder</a> |
            <a href="/restriction-enzyme">Restriction Enzyme Simulator</a> |
            <br>
            <a href="/gc-skew">GC Skew </a>|</li>
             | <a href="{{ url_for('resources_page') }}">Resources</a> |
        </nav>
        <hr>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
