{% extends "layout.html" %}

{% block content %}
<h2>🔁 Reverse Complement</h2>
<form method="post">
    <label>Paste DNA Sequence:</label><br>
    <textarea name="sequence" rows="6" cols="60"></textarea><br><br>
    <button type="submit">Get Reverse Complement</button>
</form>

{% if result %}
    <h3>Results:</h3>
    <ul>
        <li><strong>Original:</strong> {{ result.original }}</li>
        <li><strong>Complement:</strong> {{ result.complement }}</li>
        <li><strong>Reverse Complement:</strong> {{ result.reverse_complement }}</li>
        <li><strong>GC Content:</strong> {{ result.gc_content }}%</li>
    </ul>
    <form method="post" action="/">
        <input type="hidden" name="sequence" value="{{ result.reverse_complement }}">
        <button type="submit">Analyze This in Codon Usage Tool</button>
    </form>
    <h3>Base Composition Graph:</h3>
<img src="{{ url_for('static', filename=plot_filename) }}" alt="Base Composition Graph" style="max-width: 500px;">
{% endif %}
{% endblock %}
